{% extends "front/layout.twig" %}
{% block content %}      
<main class="page-wrapper">
   <section  class="owl-carousel owl-carousel2 hero">
      {% for item in sliders %}
         <div class="slide">
            <img class="" src="{{url.sliders}}{{item.image}}" alt="slider-image" />
            <a href="{{ item.link }}" class="call-to-action">Découvrir</a>
         </div>
      {% endfor %}
   </section>
 

   <section class="section greeting">
      <p class="hello text-brittany">Salut !</p>
      <p class="text-forum greeting-text">
      Ressentez-vous le besoin de réaliser vos rêves et atteindre vos objectifs mais vous vous retrouvez à ne pas y<br>
      arriver comme vous le souhaitez ? Ne vous n’inquiétez pas, Agendelle est là pour vous aider !<br>
      Notre mission consiste à vous inspirer, vous motiver, et de vous permettre de devenir plus performants dans vos<br>
      études, votre travail ou dans n'importe quel autre aspect important pour vous dans votre vie . <br>
      Comment ? En concevant pour vous des outils adaptés et efficaces ,et du contenu inspirant et motivant ,et ce,<br>
      afin de vous accompagner dans votre cheminement vers le succès , la satisfaction et le bonheur.
      </p>
      <p class="motiv text-amsterdam-four">Nous croyons en vous. Vous allez y arriver ..</p>
   </section>

   {% if latestProducts|length %}
      <section class="section categories-list-section">
         <div class="container">
            <div class="app-heading">
               <h3 class="heading-primary">Récemment ajoutés</h3>
            </div>
            <div class="categories-style-1 owl-carousel">
            {%  for product in latestProducts %}
               <div class="category-item">
                  <a href="{{ path_for('website.product',{ id : product.id}) }}" class="category-thumbnail">
                     <img src="{{ url.products }}{{product.thumbnail}}">
                  </a> 
                  <h3 class="category-details">
                     <a href="{{ product.slug }}" class="category-title">
                     {{ product.name }}
                     </a>
                  </h3>
               </div>
            {% endfor %}
            </div>
         </div>
      </section>
   {% endif %}

   {% if options.show_home_video == 'on' %}
      <section class="section">
         <div class="container video-center">
            <div class="app-heading">
               <h3 class="heading-primary">    {{options.home_video_h1}}  </h3>
               <p class="heading-description"> {{options.home_video_h3}}  </p>
            </div>
            
            {{ options.home_video_link|video_framer|raw }}

         </div>
      </section>
   {% endif %}

   {% if planners|length %}
      <section class="section products-list-section section-I7upaLbva51pYIX2">
         <div class="container">
            <div class="app-heading">
               <h3 class="heading-primary">Planners</h3>
            </div>
            <div class="products-grid">
               {%  for product in planners %}
                  <div class="product-item">
                     <a class="product-thumbnail" href="{{ path_for('website.product',{ id : product.id}) }}">
                        <img src="{{ url.products }}{{product.thumbnail}}">
                     </a>
                     <div class="product-details">
                        <div class="product-info">
                           <h3 class="product-title">
                              <a href="{{ path_for('website.product',{ id : product.id}) }}">{{ product.name }}</a>
                           </h3>
                           <div class="product-price">
                              <span class="currency-value before">
                              <span class="value">{{ product.price }}</span><span class="currency">&nbsp;DH‏</span>
                              </span>
                              <span class="currency-value after">
                              <span class="value">{{ product.discount }}</span><span class="currency">&nbsp;DH‏</span>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
            <div class="see-more">
               <a href="#">Voir plus</a>
            </div>
         </div>
      </section>
   {% endif %}

   {% if accessories|length %}
      <section class="section products-list-section section-I7upaLbva51pYIX2">
         <div class="container">
            <div class="app-heading">
               <h3 class="heading-primary">Accessories</h3>
            </div>
            <div class="products-grid">
               {%  for product in accessories %}
                  <div class="product-item">
                     <a class="product-thumbnail" href="{{ path_for('website.product',{ id : product.id}) }}">
                     <img src="{{ url.products }}{{product.thumbnail}}">
                     </a>
                     <div class="product-details">
                        <div class="product-info">
                           <h3 class="product-title">
                              <a href="{{ path_for('website.product',{ id : product.id}) }}">{{ product.name }}</a>
                           </h3>
                           <div class="product-price">
                              <span class="currency-value before">
                              <span class="value">{{ product.price }}</span><span class="currency">&nbsp;DH‏</span>
                              </span>
                              <span class="currency-value after">
                              <span class="value">{{ product.discount }}</span><span class="currency">&nbsp;DH‏</span>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
            <div class="see-more">
               <a href="#">Voir plus</a>
            </div>
         </div>
      </section>
   {% endif %}

   {% if stickersAndNotePads|length %}
      <section class="section products-list-section section-I7upaLbva51pYIX2">
         <div class="container">
            <div class="app-heading">
               <h3 class="heading-primary">Stickers et note pads</h3>
            </div>
            <div class="products-grid">
               {%  for product in stickersAndNotePads %}
               <div class="product-item">
                  <a class="product-thumbnail" href="{{ path_for('website.product',{ id : product.id}) }}">
                  <img src="{{ url.products }}{{product.thumbnail}}">
                  </a>
                  <div class="product-details">
                     <div class="product-info">
                        <h3 class="product-title">
                           <a href="{{ path_for('website.product',{ id : product.id}) }}">{{ product.name }}</a>
                        </h3>
                        <div class="product-price">
                           <span class="currency-value before">
                           <span class="value">{{ product.price }}</span><span class="currency">&nbsp;DH‏</span>
                           </span>
                           <span class="currency-value after">
                           <span class="value">{{ product.discount }}</span><span class="currency">&nbsp;DH‏</span>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            <div class="see-more">
               <a href="#">Voir plus</a>
            </div>
         </div>
      </section>
   {% endif %}

   {% if options.footer_img == 'on' %}
      <section class="slider-container horizontal medium">
         <div class="slide slide-overlay"> <img src="/uploads/media/{{options.banner_footer}}"  class="desktop-image"> <span class="slider-caption">
         </div>
      </section>
   {% endif %} 
</main>
<!-- App footer -->
{% endblock %}