<div class="lx-footer">
   <!-- Footer Bottom -->
   <div class="lx-footer-bottom">
      <div class="lx-footer-bottom-content">
         <div class="col-md-4">
            <div class="is-grid">
               <div class="footer-item">
                  <ul class="list-unstyled footer-list footer-links">
                     <li>
                        <a href="{{path_for('website.contactUs')}}">
                        Contactez-nous
                        </a>
                     </li>
                     <li>
                        <a href="{{path_for('website.shippingPolicies')}}">
                        Politique de livraison
                        </a>
                     </li>
                     <li>
                        <a href="{{path_for('website.returnPolicies')}}">
                        Politique de retour
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-8 text-left">
            <ul class="social_list_footer">
               {% if options.instagram_link is not empty %}
               <li><a href="{{options.instagram_link}}"><i class="fab fa-instagram"></i></a></li>
               {% endif %}
               {% if options.fb_link is not empty %}
               <li><a href="{{options.fb_link}}"><i class="fab fa-facebook"></i></a></li>
               {% endif %}
               {% if options.youtube_link is not empty %}
               <li><a href="{{options.youtube_link}}"><i class="fab fa-youtube"></i></a></li>
               {% endif %}
               {% if options.twitter_link is not empty %}
               <li><a href="{{options.twitter_link}}"><i class="fab fa-twitter"></i></a></li>
               {% endif %}
            </ul>
         </div>
         <div class="lx-clear-fix"></div>
         <div class="footer-body">
      </div>
   </div>
</div>